<!-- Use ejs-mate func "layout" to import boilerplate into each page -->
<% layout("layouts/boilerplate.ejs") %>
<div class="row">
  <h1 class="text-center mb-3">Edit Building</h1>
  <div class="col-md-6 offset-md-3 mb-5">
    <form
      action="/buildings/<%= building._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Building Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="building[name]"
          value="<%= building.name %>"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="building[location]"
          value="<%= building.location %>"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="cost">Building Cost</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="cost-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0"
            aria-label="cost"
            aria-describedby="cost-label"
            name="building[cost]"
            value="<%= building.cost %>"
            id="cost"
            required
          />
          <div class="valid-feedback">Looks good</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          name="building[description]"
          id="description"
          cols="20"
          rows="10"
          class="form-control"
          required
        >
<%= building.description %></textarea
        >
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add More Images</label>
        <!-- Don't forget to add multiple so can upload multi-images -->
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <% building.images.forEach(function(image, index) { %>
        <img src="<%= image.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%= index %>"
            name="deleteImages[]"
            value="<%= image.filename %>"
          />
          <label for="img-<%= index %>">Delete?</label>
        </div>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary text-white">Update Building</button>
      </div>
    </form>
    <a href="/buildings/<%= building._id %>" class="">Back to Building</a>
  </div>
</div>
